@import url("https://fontsgoogleapis.com/css2?family=Poppins:wght@100;400;600;800&family=Robot+Mono:wght@100&display=swap");

.card-roxo {
  max-width: 300px;
  background-color: #6c0b99;
  border-radius: 25px;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}


.price{
  padding: 10px;
  font-size: 22px;
}

.price{
  padding: 10px;
  font-weight: 600;
  font-size: 40px;
}

.button{
  font-size: 16px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  background-color: rgb(226, 178, 248);
  cursor: pointer;
  font-weight: bold;
}
